@import url(../fonts/Blacker_Sans_Text/stylesheet.css);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

strong,
b {
    font-weight: 600;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

em,
i {
    font-style: italic;
}

sup,
sub {
    position: relative;
    top: -0.6em;
    font-size: 65% !important;
    line-height: 1em !important;
}

sub {
    top: auto;
    bottom: -0.3em;
}

small {
    display: inline-block;
    vertical-align: baseline;
    font-size: 0.75em;
    line-height: 1.666666666666667em;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
    display: block;
}

footer {
    color: rgba(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*_____________________________________________*/
html {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-family: Blacker Sans Text;
    font-size: 16px;
    line-height: 29px;
    min-width: 320px;
    overflow-x: hidden !important;
    color: #000000;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}

.copyright {
    color: black;
}
