.image {
    display: flex;

    align-items: center;
    width: 100%;
    height: auto;
}

.image img {
    width: 629px;
    height: 629px;
}
.caption {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #FB2E86;
}
.headline {
    font-family: Josefin Sans;
    font-size: 53px;
    line-height: 82px;
    letter-spacing: 0.015em;
    color: #000000;
    padding: 12px 0;
}
.subheadline{
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #8A8FB9;
}
.button a{
    background: #FB2E86;
    border-radius: 2px;
    padding: 17px 40px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button{
    padding-top: 27px;
}
.Hero-module{
    display: flex;
    position: relative;
}
.image_background{
    position: absolute;
    width: 387px;
    height: 387px;
    left: 58px;
    top: 0;
}
.Hero-module{
    background: #F2F0FF;
    width: 100%;
    height: 764px;
}
.Hero-module-text{
    width: 100%;
    padding-left: 378px;
    padding-top: 203px;
}