.feature-headline {
    font-size: 42px;
    line-height: 49px;
    color: #1A0B5B;
    text-align: center;
    padding: 48px 0;
}

.feature-image {
    width: 100%;
    height: auto;
    transition: 0.3s ease-in-out;
}

.feature-subheadline {
    font-size: 18px;
    line-height: 22px;
    color: #FB2E86;
    padding-bottom: 12px;
    padding-top: 15px;
    transition: 0.3s ease-in-out;
}

.feature-code {
    font-size: 14px;
    line-height: 16px;
    color: #151875;
    padding: 12px 0;
    transition: 0.3s ease-in-out;
}

.feature-price {
    font-size: 14px;
    line-height: 17px;
    color: #151875;
    transition: 0.3s ease-in-out;
}


.feature-color {
    display: flex;
    justify-content: center;
    width: 14px;
    height: 4px;
    border-radius: 10px;
    margin-right: 5px;

}

.feature-color:last-child {
    margin-right: 0;
}

.feature-block-content {
    width: 25%;
    display: grid;
    text-align: center;
    justify-content: center;
}

.feature-block-content:hover .feature-subheadline {
    background-color: #151875;
    color: #ffffff;

}

.feature-block-content:hover .feature-colors {
    background-color: #151875;
}

.feature-block-content:hover .feature-code {
    background-color: #151875;
    color: #ffffff;
}

.feature-block-content:hover .feature-price {
    background-color: #151875;
    color: #ffffff;
}

.feature-block-content:hover .feature-button {
    display: block;
}

.feature-block-content:hover .feature-button {
    visibility: unset
}

.feature-block-content:hover .feature-image {
    transform: scale(0.9);
}

.feature-block {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.feature-colors {
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.feature-button button {
    background: #08D15F;
    border-radius: 2px;
    color: white;
}

.feature-button {
    visibility: hidden;
    transition: 0.1s ease-in-out;
}