.update-subscribe {
    width: 100%;
    height: 462px;
}

.update-subscribe-headline {
    width: 100%;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 35px;
    line-height: 55px;
    letter-spacing: 0.015em;
    color: #151875;
    text-align: center;
}

.update-subscribe-button a {
    font-family: Josefin Sans;
    background: #FB2E86;
    padding: 16px 34px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.update-subscribe-button {
    margin-top: 18px;
}

.update-subscribe-block {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
    max-width: 574px;
}




