.headline{
    display: flex;
    justify-content: center;
    color: #151875;
    padding-bottom: 55px;
}

.module-2-body {
    display: grid;
    justify-items: center;
    width: 25%;
    background: #FFFFFF;
    box-shadow: 0 8px 40px rgba(49, 32, 138, 0.05);
    padding-right: 28px;
}
.module-2-body:last-child{
    padding-right: 0;
}
.module-2-image{
    width: auto;
    height: 65px;

    display: flex;
    justify-content: center;

}
.module-2-image img {
    width: 100%;
    height:auto;
}
.module-2-body-text-head{
    font-size: 22px;
    line-height: 26px;
    color: #151875;
    text-align: center;
    padding: 20px 0;
}
.module-2-body-text-subhead{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(26, 11, 91, 0.6);
}

.benefist-wrapper-items{
    display: flex;
    justify-content: center;

    max-width: 1400px;
    margin: 0 auto;
}
.benefist-item{
    display: grid;
    justify-items: center;
    width: 25%;
    padding-right: 28px;
}
.benefist-item:last-child{
    padding-right: 0;
}